# OpenFinder Environment Variables

# The admin username for logging into the OpenFinder Web UI
ADMIN_USER=admin

# The admin password for logging into the OpenFinder Web UI
ADMIN_PASS=password

# Optional: SQLite Database Path (defaults to ./data/filemanager.db)
# DATABASE_URL=./data/filemanager.db
